*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    border-radius: 50%;
}
/* common */
.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}
header{
    height: 80px;
    background-color: hsl(0deg 0% 91.76%);
    align-items: center;
}
.container-icon{
    gap: 1rem;
    padding-right: 1rem;
}
.name-container{
    align-self: center;
}
.mg-bot1{
    margin-bottom: .3rem;
}

.wrap{
    height: 100vh;
    background-color: aquamarine;
    justify-content: center;    
}
.biggest-container{
    width: 80%;
    margin: 1rem 0;
    border: 2px solid black;   
}  
/* parte sinistra */
.messaggi{
    width: 35%;
    height: 100%;
    background-color: lightgreen;
}
.profile {
   padding: 0 1rem;
}
.profile img{
    height: 4rem;
}

/* parte sinistra main  */

/*  notifica  */
#bell{
 font-size: 1rem;
 background-color: white;
 padding: 20px 15px;
 border-radius: 50%;
}
.notifications{
    background-color:hsl(198.55deg 94.83% 77.25%);
    align-items: center;
    padding: 2rem 0;
}
.name-container a{
    color: gray;
}

/* ricerca */
input[type=text]{
    width: 100%;
    border: none;
}
.search-container{
    background-color:hsl(0deg 0% 91.76%);

}
#search{
    padding: .8rem;
    background-color: white;
}
.wrap-search{
    padding: .5rem;
}
/* chat parte destra */
.chat{
    width: calc(100% - 35%);
    background-image: url(../img/mine.jpg);
    height: 100%;
}
.michele-chat ,.menu{
    min-width: 200px;
    background-color: lime;
    
}

/* responsive header */
@media screen and (max-width:768px) {
    .icon-left{
        display: none;
    }
    
    
}
    
