*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    border-radius: 50%;
}
/* common */
.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}
header{
    height: 80px;
    background-color: hsl(0deg 0% 91.76%);
    align-items: center;
}
.continer-icon{
    gap: 1rem;
    padding-right: 1rem;
}
.name-continer{
    align-self: center;
}
.mg-bot1{
    margin-bottom: .3rem;
}

.wrap{
    height: 100vh;
    background-color: aquamarine;
    justify-content: center;    
}
.biggest-container{
    width: 80%;
    margin: 1rem 0;
    border: 2px solid black;   
}  
/* parte sinistra */
.messaggi{
    width: 35%;
    height: 100%;
    background-color: lightgreen;
}
.profile {
   padding: 0 1rem;
}
.profile img{
    height: 60px;
}


/* chat parte destra */
.chat{
    width: calc(100% - 35%);
    background-image: url(../img/mine.jpg);
    height: 100%;
}
.michele-chat ,.menu{
    min-width: 200px;
    background-color: lime;
    
}

/* responsive header */
@media screen and (max-width:768px) {
    .icon-left{
        display: none;
    }
    
    
}
    
