/* break point header */

@media screen and (max-width:749px) {
    .messages .container-icon{
        display: none;
    }
}

@media screen and (max-width:504px){ 
    .messages, .container-icon{
         display: none;
    }
    .biggest-container .chat{
        width: 100%;
    }  
    header .container-icon{
        display: none;
    }
}

/* break point main left  */
@media screen and (max-width:749px) {
    
    main .list-container{
        height: calc(95vh - 82px);
    }
    .biggest-container .messages{
        width: 18%;
    }
    .biggest-container .chat{
        width: calc(100% - 18%);
    }
    .messages .name-container, .sent, .search-container, main .notifications{
        display: none;
    }
    header , ul{
        min-width: 100px;
    }
   
    ul .profile{
        min-width: 100px;

    }
}

/* break-point main right  */
@media screen and (max-width:749px) {
    main .message:nth-child(even){
        margin-left: 1.5rem;
    }
    main .message:nth-child(odd){
        margin-right: 1.5rem;
    }
}

@media screen and (max-width:504px){
    main .message:first-child{
        margin-top: 2rem;       
    }
    .biggest-container .chat{
        width: 100%;
    } 
 }

 /* responsive footer  */
@media screen and (max-width:504px){
    footer button{
        display: none;
    }
    footer input[type=text]{
        margin: 0 1rem;
    }
    .bonus *{
        display: none;
    }
}   
        
/* Bonus microfono */

.bonus:active #mic { 
    transform: translateY(-20px);
    color: red;
    transform: scale(2);
} 

.bonus{
    background-color: transparent;
    
}  
.bonus:active .hidden{
    transform: translateY(-80px);
    display: block;

}
.vertical-slide{
    margin-top: 20px;
    text-align: center;
    display: none;
    animation: slide-up 3s ease-in 0s reverse;
}

@keyframes slide-up{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(50px);
    }
}

.vertical-slide:first-child{
    margin-bottom: 50px;
}

.bonus:active .vertical-slide{
    display: block;  
}

.hidden{
    width: 80px;
    height: 120px;
    position: absolute;
    right: 0px;
    bottom: 0;
    display: none;
    background-color: rgb(243, 238, 234);
}


.slide-left{
    height: 80px;
    text-align: center;
    line-height: 80px;
    background-color: rgb(243, 238, 234);
    position: absolute;
    bottom: 0px;
    display: none;
    justify-content: space-around;   
}

.chat .slide-left{
    width: calc(100% - 80px);
    transform: translateX(-100%);
}

.bonus:active .slide-left{
    display: block;
}

h5{
    font-size: 2rem;
    animation: salto 1 ease-in 3s;
}

.slide-left *{
    display: inline-block;
    display: none;
    animation: slide-row 3s ease-in 0s ; 
}

@keyframes slide-row{
    0%{
        transform: translateX(65px);
    }
    100%{
        transform: translateX(0px);
        
    }
}
.bonus:active .slide-left *{
    display: block;
    display: inline-block;
    

}
#chevron-left{
    position: relative;
    left: 100px;
    
}
h5{
    font-size: 2rem;
    color: #55585e;
}
